h1 {
    text-align: center;
}

h2 {
    text-align: right;
}

h3 {
    text-align: center;
    margin: 0;
}

.side_element {
    overflow: auto;
}

.confirmation {
    text-align: center;
}

.element {
    width: 300px;
    display: inline-block;
    border: 3px solid lightgray;
    margin: auto;
    padding: 20px 20px;
    overflow: auto;
    float: left;
}

.element input {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.element select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.order {
    width: 300px;
    display: inline-block;
    border: 3px solid lightgray;
    margin: auto;
    padding: 20px 20px;
    overflow: auto;
    float: left;
    height: 300px;
}

.order input {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.order select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.profile {
    width: 300px;
    margin: auto;
    padding: 20px 20px;
    float: left
}
.profile input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.profile select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.content {
    width: 75%;
    margin: auto;
    overflow: auto;
}

.menu {
    background-color: black;
    overflow: auto;
}

.menu a {
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: white;
    font-size: 20px;
    height: 30px;
}

.menu_left {
    float: left;
}

.menu_right {
    float: right;
}

.menu a:hover {
    background-color: #ddd;
}

.menu img {
    width: 25px;
    height: 25px;
}

.element_button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.right_side_button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    width: 200px;
    margin: 10px;
}

.left_side_button {
    float: left;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    padding: 10px 20px;
}

.center_element {
    width: 400px;
    margin: 100px auto;
    border: 3px solid lightgray;
    padding: 16px;
}

.center_element a {
    float: right;
    color: black;
    padding: 10px;
}

.warning {
    color: red;
    margin: 0;
    padding: 0;
}

.center_element input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.center_element select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: darkgrey;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

