h1 {
    text-align: center;
}

h2 {
    text-align: right;
}

p {
    text-align: center;
}

.product {
    width: 20%;
    display: inline-block;
    border: 3px solid lightgray;
    margin: auto;
    padding: 20px 20px;
    height: 400px;
    overflow: auto;
}

.element_form {
    width: 20%;
    display: inline-block;
    border: 3px solid lightgray;
    margin: auto;
    padding: 20px 20px;
    height: 300px;
    overflow: auto;
}
.element_form input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.element_form select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.profile {
    width: 50%;
    display: inline-block;
    margin: auto;
    padding: 20px 20px;
    height: 350px;
    overflow: auto;
}
.profile input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.profile select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.product p {
    padding: 5px;
}

.content {
    width: 75%;
    margin: auto;
}

.menu {
    background-color: black;
    overflow: auto;
}

.menu a {
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: white;
    font-size: 20px;
    height: 30px;
}

.menu_left {
    float: left;
}

.menu_right {
    float: right;
}

.menu a:hover {
    background-color: #ddd;
}

.menu img {
    width: 25px;
    height: 25px;
}

.element_button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.profile button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}

.side_button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    width: 200px;
}

.element_button:hover {
    background-color: #ddd;
}

.center_form {
    width: 400px;
    margin: 100px auto;
    border: 3px solid lightgray;
    padding: 16px;
}

.center_form a {
    float: right;
    color: black;
    padding: 10px;
}

.warning {
    color: red;
}

.center_form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.center_form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.product input {
    width: 50px;
    padding: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: darkgrey;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.checkout_button {
    float: right;
    width: 120px;
}

