h1 {
    text-align: center;
}

h2 {
    text-align: right;
}

p {
    text-align: center;
}

.product {
    width: 20%;
    display: inline-block;
    border: 3px solid lightgray;
    margin: auto;
    padding: 20px 20px;
    height: 400px;
    overflow: auto;
}

.product p {
    padding: 5px;
}

.content {
    width: 75%;
    margin: auto;
}

.menu {
    background-color: black;
    overflow: hidden;
}

.menu a {
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: white;
    font-size: 20px;
    height: 30px;
}

.menu_left {
    float: left;
}

.menu_right {
    float: right;
}

.menu a:hover {
    background-color: #ddd;
}

.menu img {
    width: 25px;
    height: 25px;
}

.add {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.add:hover {
    background-color: #ddd;
}

.account {
    width: 400px;
    margin: 0 auto;
    margin-top: 15%;
    border: 3px solid lightgray;
    padding: 16px;
}

.account a {
    float: right;
    color: black;
    padding: 10px;
}

.warning {
    color: red;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: darkgrey;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.checkout {
    float: right;
    width: 120px;
}

