<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>webshop</servlet-name>
        <servlet-class>ui.WebshopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>webshop</servlet-name>
        <url-pattern>/webshop</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <servlet-class>ui.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createUser</servlet-name>
        <servlet-class>ui.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createUser</servlet-name>
        <url-pattern>/create-user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>ui.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/update-user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>ui.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>ui.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateCart</servlet-name>
        <servlet-class>ui.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateCart</servlet-name>
        <url-pattern>/update-cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>ui.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>ui.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signOut</servlet-name>
        <servlet-class>ui.SignOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signOut</servlet-name>
        <url-pattern>/sign-out</url-pattern>
    </servlet-mapping>

</web-app>